@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
header {
    background-color: #27AE60;
    position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 10px 0;
	text-align: center;
	z-index: 9999;
	transition: all 300ms ease-in-out;
}
header .logo {

    font-family: 'DM Sans', sans-serif;    width: 1440px;
    height: 30px;
    left: calc(50% - 1440px/2 - 1px);
    top: calc(50% - 47px/2 - 1536px);
    font-style:italic;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    
    text-align: center;
    
    color: #FFFFFF;
    text-decoration: none;    
}



.scroll-down header {
	
		transform: translate3d(0, -100%, 0);
}

.scroll-up header {
		filter: drop-shadow(0 -10px 20px rgb(170, 170, 170));
	
}

.menu-is-open {
	overflow: hidden;
}
.menu-is-open header{

		filter: none;
}

body {
position: relative;
width: 1440px;
height: 3159px;

background: #171717;
}
#group4 {
    position:absolute;
    width: 416px;
    height: 150px;
    left: 787px;
    top: 333px;
    
}
.t1 {

    width: 416px;
    height: 124px;
    left: 128px;
    font-family: 'DM Sans', sans-serif;    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
    
    color: #FFFFFF;
    
}

.t2 {
    font-family: 'DM Sans', sans-serif;    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 0px;
    
    /* Gray 3 */
    
    color: #828282;
    
}


.bt1 {
    position: absolute;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    text-align: center;
    left: 789px;
    top: 567px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    /* Green 2 */
    background: #27AE60;
}

.bt2 {
    position: absolute;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    box-sizing: border-box;
    left: 920px;
    top: 567px;
    background: #171717;
    border: 1px solid #F2F2F2; 
}
a {
    text-decoration: none;
}
.bt2:hover {
    background: #F2F2F2;
    color: #171717;
    box-shadow: 0px 0px 4px 2px #27AE60;

}

.bt1:hover {
    background:#FFFFFF;
    color: #27AE60;
    box-shadow: 0px 0px 4px 2px #27AE60;
}


.profile {

position: absolute;
width: 426px;
height: 641px;
left: 308px;
top: 192px;
    
border-radius: 68px;
z-index: 1;

box-shadow: 0px 4px 6px 8px rgba(0, 0, 0, 0.25), -13px 5px 0px 2px #27AE60, -16px 5px 0px 2px #215838,4px -5px 0px 2px #78CD9C;
}

#about {
position: absolute;
width: 1440px;
height: 62px;
left: -1px;
top: 884px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 62px;
text-align: center;

color: #27AE60;

}

.abouttxt {
    position: absolute;
width: 745px;
height: 136px;
left: 347px;
top: 984px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;
text-align: center;

color: #FFFFFF;

}


.circle1 {
    background-image: url(circle.svg);
    position: absolute;
    width: 62px;
    height: 62px;
    left: 282px;
    top: 1158px;
}
.circle2 {
    background-image: url(circle.svg);
    position: absolute;
    width: 62px;
    height: 62px;
    left: 563px;
    top: 1158px;
    
}

.circle3 {
    background-image: url(circle.svg);
    position: absolute;
    width: 62px;
    height: 62px;
    left: 838px;
    top: 1158px;
}

.circle4 {
    background-image: url(circle.svg);
    position: absolute;
    width: 62px;
    height: 62px;
    left: 1118px;
    top: 1158px;

}


#circle{
    filter: drop-shadow(0px 0px 4px #27AE60);

}

#t1 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    
    color: #FFFFFF;
}
#t2 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    
    color: #27AE60;
}

#t2:hover {
text-decoration: underline;
}
.name {
    position: absolute;
    width: 86px;
    height: 23px;
    left: 270px;
    top: 1238px;
}
.uname {
    position: absolute;
    width: 149px;
    height: 23px;
    left: 238px;
    top: 1264px;
}

.email {
    position: absolute;
    width: 124px;
    height: 23px;
    left: 532px;
    top: 1238px;
}
.uemail {
    position: absolute;
    width: 204px;
    height: 23px;
    left: 492px;
    top: 1264px;
}

.linkedin {
    position: absolute;
    width: 74px;
    height: 23px;
    left: 832px;
    top: 1238px;
}
.ulinkedin {
    position: absolute;
    width: 108px;
    height: 23px;
    left: 815px;
    top: 1264px;
}
.git {
    position: absolute;
    width: 60px;
    height: 23px;
    left: 1119px;
    top: 1233px;
}
.ugit {
    position: absolute;
    width: 108px;
    height: 23px;
    left: 1095px;
    top: 1264px;
}

#tit {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
    text-align: center;
    
    color: #27AE60;
}

#pag {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    
    color: #FFFFFF;
    
}


.skill {
    position: absolute;
    width: 1438px;
    height: 62px;
    left: 0px;
    top: 1409px;
}

.skilltxt {
    position: absolute;
    width: 1437px;
    height: 271px;
    left: 0px;
    top: 1498px;
}


.prog {
    position: absolute;
    width: 1438px;
    height: 60px;
    left: -1px;
    top: 2100px;
}

.progtxt {
    position: absolute;
    width: 886px;
    height: 298px;
    left: 277px;
    top: 2200px;
    
}

.last {
position: absolute;
width: 1438px;
height: 60px;
left: 0px;
top: 2650px;
}

.page {
    position: absolute;
    margin: 0 auto;
    display: block;
    left: 22%;
    top: 2800px;
    width:800px; 
    height: 600px;
}